<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistroCamiones</servlet-name>
        <servlet-class>controlador.camion.RegistroCamiones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarCamiones</servlet-name>
        <servlet-class>controlador.camion.ConsultarCamiones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificaCamiones</servlet-name>
        <servlet-class>controlador.camion.ModificaCamiones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminaCamiones</servlet-name>
        <servlet-class>controlador.camion.EliminaCamiones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroAlmacen</servlet-name>
        <servlet-class>controlador.almacen.RegistroAlmacen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarAlmacen</servlet-name>
        <servlet-class>controlador.almacen.ConsultarAlmacen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarAlmacen</servlet-name>
        <servlet-class>controlador.almacen.EliminarAlmacen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarAlmacen</servlet-name>
        <servlet-class>controlador.almacen.ModificarAlmacen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroTienda</servlet-name>
        <servlet-class>controlador.tienda.RegistroTienda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarTienda</servlet-name>
        <servlet-class>controlador.tienda.ConsultarTienda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarChofer</servlet-name>
        <servlet-class>controlador.chofer.ConsultarChofer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroChofer</servlet-name>
        <servlet-class>controlador.chofer.RegistroChofer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistroCamiones</servlet-name>
        <url-pattern>/registro_camiones.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarCamiones</servlet-name>
        <url-pattern>/consultar_camiones.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificaCamiones</servlet-name>
        <url-pattern>/modifica_camiones.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminaCamiones</servlet-name>
        <url-pattern>/elimina_camiones.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroAlmacen</servlet-name>
        <url-pattern>/registro_almacen.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarAlmacen</servlet-name>
        <url-pattern>/consultar_almacen.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarAlmacen</servlet-name>
        <url-pattern>/eliminar_almacen.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarAlmacen</servlet-name>
        <url-pattern>/modificar_almacen.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroTienda</servlet-name>
        <url-pattern>/registro_tienda.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarTienda</servlet-name>
        <url-pattern>/consultar_tienda.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarChofer</servlet-name>
        <url-pattern>/consultar_chofer.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroChofer</servlet-name>
        <url-pattern>/registro_chofer.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
